body{
    background:#d7c7aa url("../img/bg_main.png") repeat-x top center fixed;
    color:#d7c7aa;
}

main{
    margin:0 auto;
    background-color:#3e3b35;
    overflow:auto;
}

h1 {
    font-family: 'Droid Serif', serif;
    color:#c7a224;
    text-shadow:1px 1px 2px #091214;
}

h2 {
    font-family: 'Droid Serif', serif;
    color:#bda67d;
}

p{
    font-family: 'Roboto', sans-serif;
}

a, a:link{
    color:#c7a224;
    text-decoration:none;
}

a:hover, a:active{
    color:#c7a224;
    border-bottom:1px solid #c7a224;
}

a:visited{
    border-bottom:1px solid #c7a224;
}

header{
    text-align:right;
    background:#091214 url("../img/header_decoration.png") no-repeat top right;
    padding:2% 2% 1% 2%;
}

header img{
    float:left;
}

nav {
    clear:both;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    width:100%;
}

nav ul{
    list-style-type:none;
    padding:0;
}

nav ul li{
    padding:1%;
}
li a, li a:link{
    color:#d7c7aa;
}

li.navselect a, li.navselect a:link{
    color:#c7a224;
}

li a:hover, li a:active{
    color:#c7a224;
}

figure{
    text-align:center;
}
figure img{
    width:100%;
}

section{
    padding:1%;
}

.fltleft img{
    border:5px solid ghostwhite;
    margin-right:1%;
}


input[type="button"]{
    font-family: 'Roboto', sans-serif;
    background-color:#27342e;
    color:#c7a224;
    border:none;
    padding:.5em;
    border-radius:4px;
}

input[type="submit"]{
    font-family: 'Roboto', sans-serif;
    background-color:#091214;
    color:#c7a224;
    border:none;
    padding:.5em;
    border-radius:4px;
    display:block;
    margin-top:10px;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="submit"]:active, input[type="button"]:active{
    color:#091214;
    background-color:#d7c7aa;
}

footer{
    background-color:#091214;
    overflow:auto;
    margin:0 auto;
}

footer p{
    text-align:center;
    font-size:.7em;
    padding:20px 0;
}

@media screen and (min-width:440px){
    nav ul{
        width:100%;
    }
    
    nav ul li{
        width:47%;
        display:inline-block;
    }

    section{
        width:90%;
        margin:0 auto;
    }
}

@media screen and (min-width:560px){
    nav ul li{
        width:22%;
        display:inline-block;
    }
}

@media screen and (min-width:680px){
    figure img{
        max-width:800px;
    }
    
    section{
        width:75%;
        margin:0 auto;
    }
}

@media screen and (min-width:1041px){
    nav ul{
        margin:0;
    }
        
    .fltleft{
        float:left;
        width:48%;
    }

    .fltright{
        float:right;
        width:48%
    }
}

@media screen and (min-width:1300px){
    main{
        width:75%;
        max-width:1200px;
    }
    
    footer{
        width:75%;
        max-width:1200px;
    }
}
