body{
    background:#091214 url("../img/bg_main.png") no-repeat top center;
    color:#091214;
}

main{
    margin:0 auto;
    background-color:#9094a1;
    overflow:auto;
}

h1 {
    font-family: 'Droid Serif', serif;
    color:#c7a224;
    text-shadow:1px 1px 2px #091214;
}

h2 {
    font-family: 'Droid Serif', serif;
    color:#27342e;
    text-shadow:1px 1px 1px #091214;
}

p{
    font-family: 'Roboto', sans-serif;
    color:#091214;
}

a, a:link{
    color:#c7a224;
    text-decoration:none;
}

a:hover, a:active{
    color:#c7a224;
    border-bottom:1px solid #c7a224;
}

a:visited{
    color:#27342e;
    border-bottom:1px solid #27342e;
}

header{
    text-align:right;
    background:#0d1226 url("../img/header_decoration.png") no-repeat top right;
    padding:2% 2% 1% 2%;
}

header img{
    float:left;
}

header h1, header p{
    color:#9094a1;
}

nav {
    clear:both;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    width:100%;
}

nav ul{
    list-style-type:none;
    padding:0;
}

nav ul li{
    color:#9094a1;
    padding:1%;
}
nav ul li:hover{
    color:#c7a224;
}

.navselect{
    color:#c7a224;
}

figure{
    text-align:center;
}
figure img{
    width:100%;
}

section{
    padding:1%;
}

.color{
    border:5px solid ghostwhite;
    margin-bottom:1%;
    height:3em;
    width:96%;
}

.fltleft img{
    border:5px solid ghostwhite;
    margin-right:1%;
}

#color1{
    background-color:#9094a1;
}

#color2{
    background-color:#27342e;
}
#color3{
    background-color:#0d1226;
}
#color4{
    background-color:#c7a224;
}
#color5{
    background-color:#091214;
}

input[type="button"]{
    font-family: 'Roboto', sans-serif;
    background-color:#27342e;
    color:#c7a224;
    border:none;
    padding:.5em;
    border-radius:4px;
}

input[type="submit"]{
    font-family: 'Roboto', sans-serif;
    background-color:#0d1226;
    color:#c7a224;
    border:none;
    padding:.5em;
    border-radius:4px;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="submit"]:active, input[type="button"]:active{
    color:#9094a1;
}

footer{
    background-color:#0d1226;
    overflow:auto;
    margin:0 auto;
}

footer p{
    color:#9094a1;
    text-align:center;
    font-size:.7em;
    padding:20px 0;
}

@media screen and (min-width:440px){
    nav ul{
        width:100%;
    }
    nav ul li{
        width:47%;
        display:inline-block;
    }

    .color{
        float:left;
        width:16%;
        margin-right:1%;
    }
}

@media screen and (min-width:560px){
    nav ul li{
        width:22%;
        display:inline-block;
    }
}

@media screen and (min-width:680px){
    .color{
        float:left;
        width:17%;
        margin-right:1%;
        height:4em;
    }
    figure img{
        max-width:800px;
    }
}

@media screen and (min-width:1041px){
    nav ul{
        margin:0;
    }
        
    .fltleft{
        float:left;
        width:48%;
    }

    .fltright{
        float:right;
        width:48%
    }
}

@media screen and (min-width:1300px){
    main{
        width:70%;
    }
    
    footer{
        width:70%;
    }
}
